.homePage {
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.blogs {
    font-family: 'Yeseva One', cursive;
    font-size: 2.5rem;
    font-weight: 500;
    color: #212125; 
}

.section {
    height: max-content;
    padding: 2rem 0 2rem 1rem;
}

.heading {
    font-family: 'Yeseva One', cursive;
    font-size: 2rem;
    font-weight: 500;
    color: #212125;
}

.content {
    height: 22rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
}