body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* background-image: linear-gradient(165deg, #7161e5 1%,#9964c4 31%,#c068a7 64%,#da6c8d 81%,#ee727a 93%,#f57070 100%);
  background-attachment: fixed;
  background-repeat: no-repeat; */
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
